*{
    color:#040A1B;
    font-family:  "Fira Sans", serif;
    font-size: 25px;
    font-weight: 200;
}
bo


.menu{
    list-style-type: none;
    background-color: #3E5196;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    top:0%;
    left: 0px;
    white-space: nowrap;
    position: sticky;

}
 .menu a:hover {/*,.menu img:hover */
    background-color: #EE537C;
    color: #3E5196;
    border: none;
}
nav a.active{
    font-weight: bold;
}

.menu ul{
    background-color: #3E5196;
    padding-inline-start: 0px;
    border-bottom: 5px solid #EE537C;


}
.menu a{
    text-decoration: none;
    color:#EE537C;
    background-color: #3E5196;
    display: inline-block;
    border-right: 2px solid #363671;
    padding: 10px 10px;

}
.menu li{
    display: inline;
    background-color: #3E5196;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
}

h1{
    color: #EE537C;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3E5196;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Snell Roundhand', cursive;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}

h2{
    color: #EE537C;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3E5196;


    font-family: 'Snell Roundhand', cursive;
    font-weight: 800;
    font-size: 40px;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}

.leftimg{
    height: 300px;
    float: left;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 0px;

}
.rightimg{
    height: 300px;
    float: right;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 0px;

}
table.rightimg{
    width: 30%;
}
/* .footer{
    position: fixed; 
    left: 0;
    bottom: 0; 
    padding: 10px; 
    background: #A5BECF; 
    color: #000; 
    width: 100%; 
    font-size: small;
    height: 10px;
} */

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    max-width: 70%;
    width: 50%;
    text-align: center;
    border-collapse: collapse;
    margin: 10px 0px 10px 0px;

}
th {
    font-size: 25px;
    font-weight: normal;
    background: #335495;
    border-right: 1px solid #A5BECF;
    border-left: 1px solid #A5BECF;
    color: #FEFEFE;
    padding: 8px;
}
td {
    background: #FEFEFE;
    border-right: 1px solid #A5BECF;
    border-left: 1px solid #A5BECF;
    color: #669;
    padding: 8px;
}

tr:hover td{
    background-color: #668BC4;
    color: #FEFEFE;
}
td:hover tr{
    background-color: #335495;
    color: #FEFEFE;
}

body.contact{
    background-color: #335495;
    margin: -30px 0px;
}
body.home{
    background-color: #668BC4;
    margin: -30px 0px;
}
body.about{
    background-color: #668BC4;
    margin: -30px 0px;
}

form input,
form textarea{
    margin: 3px;
    background-color: #335495;
    color: white;
    border-radius: 10px;


}
input:focus,
textarea:focus{
    background-color: #EE537C;
    color: #335495;
}
input::-webkit-input-placeholder,
textarea::-webkit-textarea-placeholder
 {
      color: white; 
    }

.btn{
    width: 100%;
}
#validationTextarea{
    
}
.footer{
    background-color: #efefef;
    padding: 1px 0px;
    font-size: 14px;
    margin: 0 auto;
    padding: 15px 0;
    width: 100%; 

}
.container{
    display: inline;
}
.copyright,
.contacts{
    margin: 0px;
    display: inline-block;
    width: 45%;
}

.copyright,
.contacts-item{
    color:#555559;
}

.contacts-item{
    display: inline;
}
.contacts-item--bordered{
    padding-left: 8px;
    border-left: 1px solid #555559;
    margin-right: 8px;
}

body.contact .footer{
    position: fixed; 
    left: 0;
    bottom: 0; 
    background: linear-gradient(0deg, rgba(238,83,124,1) 0%, rgba(51,84,149,1) 100%);

}
body.about .footer{
    background: linear-gradient(0deg, rgba(238,83,124,1) 0%, rgba(102,139,196,1) 63%);
} 
body.home .footer{
    position: fixed; 
    left: 0;
    bottom: 0; 
    background: linear-gradient(0deg, rgba(238,83,124,1) 0%, rgba(102,139,196,1) 63%);

}